* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0d7373;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    height: 150px;
}

.cabecalho h1 {
    color: #f0f0f5;
    font-size: 35px;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    position: relative;
    left: -55px;
}

.cabecalho h3 {
    font-size: 16px;
    color: #f0f0f5;
    text-align: center;
    position: relative;
    left: -55px;
}

.logo {
    max-height: 190px;
    margin-top: 0;
    float: left;
    width: 190px;
    margin-top: -40px;
    position: relative;
    right: -55px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(110vh - 100px);
    margin-top: 20px;
}

.box {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: 170px;




}

.box h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #009ec6;
}

.box label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.box input[type="text"],
.box input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

.box input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0d7373;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.box input[type="submit"]:hover {
    background-color: #009ec6;
}

.box p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 10px;
}

.box p a {
    color: #00c6ff;
    text-decoration: none;
}

.box p a:hover {
    text-decoration: underline;
}

.box button {
    color: #0d7373;
}